* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: rgb(40, 62, 73);
}

.game {
    display: grid;
    width: 100%;
    justify-content: center;

}

.cell {
    background-color: rgb(122, 199, 234);
    position: relative;
    text-align: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.revealed {
    content: "";
    border: 0.2px solid rgba(240, 248, 255, 0.328);
    background-color: rgb(29, 46, 54);
}


.bomb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 35, 13);
    width: 100%;
    height: 100%;
}

.flagged {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 171, 181);
    width: 100%;
    height: 100%;
}

.number {
    display: flex;
    justify-content: center;
    font-size: 20px;
}


.game-win {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-win-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 600px;
    border-radius: 8px;
    border: 1px solid rgb(122, 199, 234);
    background-color: rgb(29, 46, 54);
    color: rgb(122, 199, 234);
}

.game-win h1 {
    font-size: 100px;
}
.game-win h2 {
    font-size: 25px;
    color: rgb(41, 200, 13);
}
.game-win h3 {
    font-size: 20px;
}


.game-win {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-over-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 600px;
    border-radius: 8px;
    border: 1px solid rgb(122, 199, 234);
    background-color: rgb(29, 46, 54);
    color: rgb(122, 199, 234);
}

.game-over h1 {
    font-size: 100px;
}
.game-over h2 {
    font-size: 30px;
    color: rgb(200, 35, 13);
}
.game-over h3 {
    font-size: 20px;
}


.btn {
    border: none;
    color:aliceblue;
    cursor: pointer;
    font-size: 12px;
    background-color: rgb(122, 199, 234);
    border-radius: 8px;
    padding: 10px 20px;
}

.btn:hover {
    background-color: rgb(41, 70, 84);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    color:aliceblue
}

.game-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.settings-container {
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 600px;
    border-radius: 8px;
    border: 1px solid rgb(122, 199, 234);
    background-color: rgb(29, 46, 54);
    color: rgb(122, 199, 234);
}

.game-settings form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
    width: 300px;
}

.game-settings div {
    display: flex;
    flex-direction: column;
}

.game-settings label {
    font-weight: bold;
    margin-bottom: 5px;
}

.game-settings input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {

    .settings-container {
        height: 650px;
        width: 300px;
    }
    .game-settings form {
        width: 200px;
    }
    
    .game-over-container {
        height: 650px;
        width: 300px;
    }

    .game-over-container h3{
        font-size: 17px;        
    }

    .game-win-container {
        height: 650px;
        width: 300px;
    }

    .game-win-container h3{
        font-size: 17px;        
    }

    .number {
        font-size: 15px;
    }


  }