* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(29, 46, 54);
}

.game {
    display: grid;
    height: 500px;
    width: 500px;
    margin: auto;

}

.cell {
    background-color: rgb(122, 199, 234);
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.revealed {
    content: "";
    background-color: rgb(29, 46, 54);
}
.bomb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 35, 13);
    width: 100%;
    height: 100%;
}